<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/shared.css">
  {{ extraCss | safe }}
</head>
<body class="lang-en">
  {{ content | safe }}
  <script src="/shared.js"></script>
</body>
</html>
